{% extends 'base.html' %}

{% block titulo %}
    Contacto
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}

<h1>Contacto</h1>

<form action="" class="formario_cotegoria" method="post">
    <div class="form-group col-5">
      <div class="col-10">
        {% csrf_token %}
        {{form | crispy }}
    <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
    <button type="reset" id="btnEnviar" class="btn btn-danger">Borrar</button>
     </div>
    </div>
  </form>

{{mensaje}}

{% endblock %}